 .components-popover__content {
 width:250px;
    padding:10px;
}

.components-base-control__field .components-input-control__container{
 width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: .5rem;
}
.components-base-control__field .components-text-control__input,
.components-input-control__container .components-select-control__input,
.th-bg-control input.color-input  {
    width: 100%;
    border: 1px solid #e2e8f0;
    height: 2.5rem !important;
    border-radius: .5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #475569;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-right: 1.4rem ;
}

/** radio box style **/

.components-form-toggle.is-checked .components-form-toggle__track {
    background-color: var(--s1-color-primary);
    border-color: var(--s1-color-primary);
}


.components-form-toggle .components-form-toggle__track{
    background-color:#e5e7eb;
    border-color:#e5e7eb;
}

.components-form-toggle .components-form-toggle__thumb{
background-color: #fff;
      transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

}

.th-bg-control .color-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e2e8f0;
        cursor: pointer;
}
.th-bg-control .color-box-wrap {
    display: flex;
    gap: 5px;
    width: 100%;
}

.th-bg-control .color-input-wrap {
 width: 60%;
    display: flex;
    align-items: center;
}
.th-bg-control input.color-input {
width: 100%;
    background-color: #ffffff;
}
/** range control **/
.th-bg-control span.component-color-indicator {
 width: 12px;
    height: 12px;
    margin-left: -20px;
}
.s1-control-range {
    display: flex;
    align-items: center;
}

.s1-control-range .components-base-control.components-range-control{
    width: 100%;
}
.s1-control-range .s1-rangetype{
     margin-left: -40px;
    z-index: 999;
    margin-top: 22px;
}
/* .th-bg-control{
    margin:15px 0
} */