
.th-recent-view-wrap ul.products {
  gap: var(--th-gap);
}

/* ================= WRAPPER FIX ================= */
.th-recent-slider {
  position: relative;
}

/* ================= NAV BUTTON ================= */
.th-recent-slider .swiper-button-prev,
.th-recent-slider .swiper-button-next {
  top: 40% !important;
  transform: translateY(-40%) !important;
  margin-top: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 6px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

  width: auto !important;
  height: auto !important;

  z-index: 5;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* ================= ICON ================= */
.th-recent-slider .swiper-button-prev::after,
.th-recent-slider .swiper-button-next::after {
  font-size: 16px !important;
  line-height: 1;
  font-weight: 600;
  color: #111;
}

/* ================= POSITION ================= */
.th-recent-slider .swiper-button-prev {
  left: 8px;
}

.th-recent-slider .swiper-button-next {
  right: 8px;
}

/* ================= HOVER ================= */
.th-recent-slider .swiper-button-prev:hover,
 .th-recent-slider .swiper-button-next:hover {
  background: #111;
  transform: translateY(-50%) scale(1.05);
}

.th-recent-slider .swiper-button-prev:hover::after,
.th-recent-slider .swiper-button-next:hover::after {
  color: #fff;
}

/* ================= DISABLED ================= */
.th-recent-slider .swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}

.th-has-video img.attachment-woocommerce_thumbnail{
    display:none!important;
}
/*DEFAULT HIDE */
.th-recent-slider .swiper-button-prev,
.th-recent-slider .swiper-button-next {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}

/*SHOW ON HOVER */
.th-recent-slider:hover .swiper-button-prev,
.th-recent-slider:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}