/* ROOT */
#th-sale-notify-root{
    position: fixed;
    z-index: 9999;
}

/* MAIN BOX */
.th-notification {
    position: fixed;
    width: 320px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.8rem;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    opacity: 0;
    visibility: hidden;
    transform: none;

    transition: all 0.4s ease;
}

/* SHOW */
.th-notification.show {
    opacity: 1;
    visibility: visible;
}

/* HIDE */
.th-notification.hide {
    opacity: 0;
    visibility: hidden;
}

/* INNER */
.th-inner {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

/* IMAGE */
.th-inner img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

/* CONTENT */
.th-content {
    display: flex;
    flex-direction: column;
}

.th-line-1 {
   font-size: 0.89rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.th-line-2 {
    margin: 0;
    font-size: 0.78rem;
    margin-bottom: 0.2rem;
}

.th-time {
    font-size: 11px;
    color: #6b7280;
}

/* POSITIONS */
.th-bottom_right { bottom: 20px; right: 20px; }
.th-bottom_left { bottom: 20px; left: 20px; }
.th-top_right { top: 20px; right: 20px; }
.th-top_left { top: 20px; left: 20px; }

/* CLOSE BUTTON */
.th-close-btn {
    position: absolute;
    top: 6px;
    right: 8px;

    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: #888;

    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.th-close-btn:hover {
    background: rgba(0,0,0,0.1);
    color: #000;
    transform: scale(1.1);
}

/* ================= STYLE ================= */
.th-notification.style1 {
    background: #fff;
    border: 1px solid #e5e7eb;
}

.th-notification.style2 {
    background: #111827;
    color: #fff;
}
.th-notification.style2 .th-close-btn,.th-notification.style4 .th-close-btn {
color:#fff;
}
.th-notification.style2 .th-time {
    color: #9ca3af;
}

.th-notification.style3 {
    background: transparent;
    border: 1px dashed #cbd5e1;
}
.th-notification.style3 .th-time {
    color: #94a3b8;
}

.th-notification.style4 {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    color: #fff;
}
.th-notification.style4 .th-time {
    color: rgba(255,255,255,0.7);
}

/* ================= ANIMATION ================= */

/* SLIDE */
.th-notification.slide {
    transform: translateY(20px);
}
.th-notification.slide.show {
    transform: translateY(0);
}
.th-notification.slide.hide {
    transform: translateY(20px);
}

/* FADE */
.th-notification.fade {
    transform: none;
}
.th-notification.fade.show {
    opacity: 1;
}
.th-notification.fade.hide {
    opacity: 0;
}

/* ZOOM */
.th-notification.zoom {
    transform: scale(0.8);
}
.th-notification.zoom.show {
    transform: scale(1);
}
.th-notification.zoom.hide {
    transform: scale(0.8);
}