#adminmenu .storeone-upgrade-btn {
    background: #f56e28;
    color: #fff;
    padding:0.3rem 0.5rem;
    border-radius: 4px;
    font-weight: 600;
}
.toplevel_page_store-one .wp-submenu-wrap li a{
    padding-top:10px!important;
    padding-bottom:10px!important;
}