#toplevel_page_th-store-one .wp-submenu-wrap li a{
    padding-top:10px!important;
    padding-bottom:10px!important;
}
#adminmenu .toplevel_page_th-store-one ul li:last-child a {
    background: #4f46e5;
    color:#fff;
    font-weight: 500;
}
#toplevel_page_th-store-one a.toplevel_page_th-store-one img{
    padding-top:3px;
}