.s1-preview-stickybar {
  position: relative;
  font-family: system-ui, -apple-system, sans-serif;
}

/* MAIN BAR */
.s1-preview-stickybar .s1-sticky-bar {
  position: absolute;
  left: 5px;
  right:5px;
  /* Glass effect */
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);

  /* box-shadow: 
    0 6px 20px rgba(0,0,0,0.08),
    inset 0 1px 0 rgba(255,255,255,0.6); */

  border: 1px solid rgba(0,0,0,0.05);

  transition: all 0.3s ease;
}
.s1-sticky-content{
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  }

.s1-preview-stickybar .s1-sticky-bar:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

/* POSITION */
.s1-preview-stickybar .s1-sticky-bar.s1-bottom {
  bottom:5px;
}

.s1-preview-stickybar .s1-sticky-bar.s1-top {
  top: 5px;
}

/* LEFT */
.s1-preview-stickybar .s1-sticky-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* IMAGE */
.s1-preview-stickybar .s1-thumb {
  width: 48px;
  height: 48px;
  border-radius: 10px;

  background: linear-gradient(110deg, #f0f1f3 30%, #e8eaed 50%, #f0f1f3 70%);
  animation: s1-shimmer 1.4s infinite;

  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.04);
}

/* TEXT */
.s1-preview-stickybar .s1-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.s1-preview-stickybar .s1-title {
  font-size: 13px;
  font-weight: 600;
  color: #111827; /* dark gray (better than pure black) */
  line-height: 1.2;
  letter-spacing: 0.2px;
}

.s1-preview-stickybar .s1-price {
  font-size: 12px;
  font-weight: 500;
  color: #16a34a; /* green = price highlight */
  line-height: 1.2;
}

/* RIGHT */
.s1-preview-stickybar .s1-sticky-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* QTY */
.s1-preview-stickybar .s1-qty {
  width: 60px;
  height: 34px;
  border-radius: 8px;
  background: #f3f4f6;
}

/* BUTTON */
.s1-preview-stickybar .s1-btn {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;

  background: linear-gradient(135deg, #facc15, #fbbf24);
  color: #111;

  cursor: pointer;
  transition: all 0.25s ease;

  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.s1-preview-stickybar .s1-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* SHIMMER ANIMATION */
@keyframes s1-shimmer {
  0% { background-position: 100% 0 }
  100% { background-position: -100% 0 }
}

.s1-datetime-wrapper input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
}

.s1-offer-time{
    margin-left:0.3rem;
}
.s1-offer-banner{
text-align: center;
    padding: 10px 14px;
    background: #f3f4f6;
    color: #111;
    font-size: 0.82rem;
    font-weight:normal;
}