.storeone-btl-wrapper {
    padding: 1.25rem;
    margin: 1.5rem 0;
    border-radius: 0.625rem;
    border: 0.0625rem solid #e5e7eb;
    background: #fff;
    box-sizing: border-box;
}

.storeone-btl-title {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.storeone-btl-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.storeone-btl-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 1rem;
}
.storeone-btl-item .storeone-btl-text{
    font-size:15px;
    font-weight:600;
    color:#334155;
}
.storeone-btl-item:last-child {
    margin-bottom: 0;
}

.storeone-btl-icon {
    width: 1.75rem; 
    height: 1.75rem;
    min-width: 1.75rem;
    min-height: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 1.75rem;
    line-height: 0;
    padding: 0.3rem;
    border-radius: 50%;
}
.style_4 .storeone-btl-item,.style_5 .storeone-btl-item{

padding: 1rem;
border-radius:1rem;
}
.style_4 .storeone-btl-item .storeone-btl-icon{
border-radius: 0.5rem;
}

.style_5 .storeone-btl-item .storeone-btl-icon{
background-color: transparent;
}
.style_5 .storeone-btl-item{
border:1px solid #fff9;
background-color: #ffffff66;
}
.storeone-btl-icon svg {
    width: 1rem;  /* 16px */
    height: 1rem;
    display: block;
}

.storeone-btl-text {
    font-size: 0.9375rem; /* 15px */
    line-height: 1.5;
}
