// color picker
.store-one-color-field {
    margin-bottom: 18px;
}

.store-one-color-label {
    margin-bottom: 6px;
    display: block;
}

.store-one-color-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.store-one-color-box {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-size: cover;
}

.store-one-color-input {
    width: 110px;
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
// save buuton
.save-button-wrap{
    display: flex;
    justify-content: end;
}