// color picker
.store-one-color-field {
    margin-bottom: 18px;
}

.store-one-color-label {
    margin-bottom: 6px;
    display: block;
}

.store-one-color-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.store-one-color-box {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-size: cover;
}

.store-one-color-input {
    width: 110px;
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
// save buuton
.save-button-wrap{
    display: flex;
    justify-content: end;
}
//tab style
.store-one-tab-switcher {
    margin-bottom: 20px;
}

/* TAB HEADER */
.store-one-tab-header {
    display: flex;
    gap: 6px;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 2px;
}

/* EACH TAB */
.store-one-tab-item {
    padding: 8px 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #666;
    border: 1px solid transparent;
    transition: 0.15s ease;
    position: relative;
}

/* Hover */
.store-one-tab-item:hover {
    background: #f2f2f2;
}

/* ACTIVE */
.store-one-tab-item.active {
    background: #ffffff;
    color: #2271b1;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

/* ACTIVE indicator line */
.store-one-tab-item.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background: #2271b1;
}

/* Icon */
.store-one-tab-item .dashicons {
    font-size: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.85;
}

/* CONTENT AREA */
.store-one-tab-content {
    padding: 10px 0 0;
}
