/* PRODUCT LAYOUT */
.s1-product-preview {
    padding: 20px;
    background: #fff;
}

.s1-main-product {
    display: flex;
    gap: 30px;
}

.s1-main-thumb {
    width: 40%;
}

.static-main-img {
    width: 100%;
    height: 300px;
}

.s1-main-info {
    width: 60%;
}

.static-title {
    width: 60%;
    height: 20px;
    margin-bottom: 15px;
}

.static-price {
    width: 30%;
    height: 16px;
    margin-bottom: 20px;
}



/* CART SKELETON */
.s1-main-cart {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.static-qty {
    width: 80px;
    height: 40px;
}

.static-btn {
    width: 150px;
    height: 40px;
}
.s1-btl-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.product-brand .static-brand-img {
    width: 100px;
    height: 60px;
    border-radius: 6px;
}
.product-brand  .s1-btl-list{
    display:flex;
    gap:15px;
    flex-wrap: wrap;
}
.product-brand .s1-btl-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:0;
    border: 1px solid #eee;
    padding: 0.3rem;
    justify-content: center;
}

/* ================= NAVIGATION WRAPPER ================= */
.s1-trust-preview .swiper {
    --swiper-navigation-color: #000; /* icon color */
}

/* ================= BUTTON BASE ================= */
.s1-trust-preview .swiper-button-prev,
.s1-trust-preview .swiper-button-next {

    top: 50% !important;
    transform: translateY(-50%) !important;
    margin-top: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;

    width: auto !important;
    height: auto !important;

    /* UI */
    background: rgba(255, 255, 255, 0.9);
    padding: 6px;
    border-radius: 6px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

    border: none;
}

/* ================= ICON CONTROL ================= */
.s1-trust-preview .swiper-button-prev::after,.s1-trust-preview .swiper-button-prev,
.s1-trust-preview .swiper-button-next::after ,.s1-trust-preview .swiper-button-next{
    font-size: 12px !important;
    line-height: 1;
    height: 12px !important;
    width: 12px !important;
}

/* ================= POSITION ================= */
.s1-trust-preview .swiper-button-prev {
    left: 5px;
}

.s1-trust-preview .swiper-button-next {
    right: 5px;
}

/* ================= HOVER ================= */
.s1-trust-preview .swiper-button-prev:hover,
.s1-trust-preview .swiper-button-next:hover {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

/* ================= DISABLED ================= */
.s1-trust-preview .swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

/* Black & White Mode */
.s1-bw-mode img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

/* optional hover color back */
.s1-bw-mode img:hover {
    filter: grayscale(0%);
}